.cards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;

    .media-cards {
        margin: 0;

        .facebook,
        .twitter,
        .instagram,
        .youtube {
            width: 100%;
            height: 12em;
            margin: 1em 0 0 0;
            margin-right: 0;
            padding: 1em;
            background-color: $dark-cards-color;
            flex-direction: column;
            border-radius: 5px;
        }
    }
}
