header {
    width: 100%;
    justify-content: center;
    margin: 3em 0 1em 0;

    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1,
        h3 {
            text-align: left;
            width: 80%;
        }

        h3 {
            margin-top: 0.5em;
        }

        .line {
            border-top: 1px solid $dark-line-color;
            content: " ";
            width: 80%;
            margin: 1em 0 0.3em 0;
        }

        .changeMode {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: $dark-secondary-text-color;
            font-weight: 700;
            font-size: 0.85em;
            padding: 1em 0;
            width: 80%;

            .dark {
                display: none;
            }

            .light {
                display: inline;
            }
        }
    }
}
