* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: #1e202a;
  color: white;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1 {
  font-size: 1.5em;
}

h3 {
  font-size: 0.8em;
  color: #8b97c6;
  padding-bottom: 1em;
}

img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.up,
.down {
  font-size: 0.8em;
}

.up {
  color: #1db489;
}

.down {
  color: #dc414c;
}

header {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3em 0 1em 0;
}

header .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header h1,
header .header h3 {
  text-align: left;
  width: 80%;
}

header .header h3 {
  margin-top: 0.5em;
}

header .header .line {
  border-top: 1px solid #2e3656;
  content: " ";
  width: 80%;
  margin: 1em 0 0.3em 0;
}

header .header .changeMode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #8b97c6;
  font-weight: 700;
  font-size: 0.85em;
  padding: 1em 0;
  width: 80%;
}

header .header .changeMode .dark {
  display: none;
}

header .header .changeMode .light {
  display: inline;
}

.changeMode {
  width: 100%;
}

.changeMode .btn-slider {
  margin: 0;
}

.changeMode .btn-slider .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.changeMode .btn-slider .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.changeMode .btn-slider .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#378fe6), to(#3eda82));
  background-image: linear-gradient(#378fe6, #3eda82);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.changeMode .btn-slider .switch .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  right: 3px;
  bottom: 3px;
  background-color: #1e202a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.changeMode .slider.round {
  border-radius: 34px;
}

.changeMode .slider.round:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#378fe6), to(#3eda82));
  background-image: linear-gradient(#378fe6, #3eda82);
}

.changeMode .slider.round:before {
  border-radius: 50%;
}

.changeMode input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.cards {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.cards .media-cards {
  margin: 0;
}

.cards .media-cards .facebook,
.cards .media-cards .twitter,
.cards .media-cards .instagram,
.cards .media-cards .youtube {
  width: 100%;
  height: 13rem;
  margin: 1rem 0 0 0;
  padding-top: 0.8rem;
  margin-right: 0;
  background-color: #252a41;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards .media-cards .facebook .today,
.cards .media-cards .twitter .today,
.cards .media-cards .instagram .today,
.cards .media-cards .youtube .today {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5em;
}

.cards .media-cards .facebook .today .updown,
.cards .media-cards .twitter .today .updown,
.cards .media-cards .instagram .today .updown,
.cards .media-cards .youtube .today .updown {
  padding-left: 0.5em;
}

.cards .media-cards .facebook {
  border-top: 0.3em solid #006fff;
}

.cards .media-cards .twitter {
  border-top: 0.3em solid #1ca0f2;
}

.cards .media-cards .instagram {
  padding-top: 0;
  overflow: hidden;
}

.cards .media-cards .instagram .border {
  width: 100%;
  height: 0.3em;
  background: -webkit-gradient(linear, right top, left top, from(#df4996), to(#fdc468));
  background: linear-gradient(to left, #df4996, #fdc468);
}

.cards .media-cards .youtube {
  border-top: 0.3em solid #c4032a;
}

.cards .media-cards .logo-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  padding-top: 1em;
}

.cards .media-cards .account {
  color: #8b97c6;
  font-size: 0.7em;
  padding-left: 0.7em;
  padding-top: 0.3em;
}

.cards .media-cards .number {
  font-weight: 700;
  font-size: 3.3em;
  padding-top: 1rem;
}

.cards .media-cards .followers {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.7em;
  color: #8b97c6;
  letter-spacing: 0.5em;
  padding-top: 0.4em;
}

.cards-today h1 {
  text-align: left;
  padding: 1.5em 0 0.8em 0;
}

.cards-today .youtube-today {
  margin-bottom: 1em;
}

.cards-today .views,
.cards-today .likes {
  background-color: #252a41;
  border-radius: 5px;
  width: 100%;
  height: 8em;
  margin-top: 1rem;
  padding: 1.7em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-today .views .secondary-title,
.cards-today .likes .secondary-title {
  color: #8b97c6;
  font-size: 0.8em;
  font-weight: 700;
}

.cards-today .views .data,
.cards-today .likes .data {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
}

.cards-today .views .left,
.cards-today .likes .left {
  text-align: left;
}

.cards-today .views .left .data,
.cards-today .likes .left .data {
  padding-top: 0.7em;
}

.cards-today .views .right,
.cards-today .likes .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cards-today .views .right .percent,
.cards-today .likes .right .percent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
  text-align: right;
}

.cards-today .views .right .percent .value,
.cards-today .likes .right .percent .value {
  padding-left: 0.3em;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */